name: terraform-destroy

on:
  workflow_call:
    secrets:
      AWS_ACCOUNT_ID:
        required: true
jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    steps:
      - name: clone the repository
        uses: actions/checkout@v3
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ github.event.repository.name }}
          role-session-name: ${{ github.event.repository.name }}
          aws-region: eu-central-1
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_wrapper: false
      - name: terraform-destroy
        run: make terraform-destroy
