name: Reusable Test

on:
  workflow_call:
    secrets:
      token:
        required: false
jobs:
  test_job:
    name: Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo Test very Successful
  second_job:
    name: Second Job
    runs-on: ubuntu-latest
    steps:
      - name: Test 2
        run: echo Test 2 very Successful
